// VARIABLES
$blue: #00AFFF;
$orange: #FF8C63;
$red: #FF5555;
$white: #FFFFFF;
$primary-font: 'Nanum Gothic';

body {
  font-family: $primary-font;
  margin: 0;
}

%common-container{
  height: 100vh;
  width: 100%;
}

%common-wrapper{
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-evenly;
  margin: auto;
  width: 960px;
}

%common-form-container{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: inherit;
  justify-content: flex-end;
}

%common-list-container{
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
  overflow-style: none;
  width: inherit;
}

%common-button{
  border-style: none;
  border: 0;
  color: $white;
  font-size: 40px;
  height: inherit;
  opacity: 1;
  width: 175px;

  &:hover{
    opacity: .9;
  }
}

.LightTheme {
  &--container{
    @extend %common-container;
    background-color: $blue;
  }

  &--wrapper{
    @extend %common-wrapper;
  }

  &--form-container{
    @extend %common-form-container;
    background-color: $white;
  }

  &--list-container{
    @extend %common-list-container;
    background-color: $white;
  }

  &--input{
    padding: 5px;
    width: 100%;
    font-size: 50px;
  }

  &--button{
    @extend %common-button;
    background-color: $orange;
  }
}